:root {
  --radius: 5px;
  --upper-radius: var(--radius) var(--radius) 0 0;
  --bottom-radius: 0 0 var(--radius) var(--radius);
  --main-background-color: #393E41;
  --mint: #61A875;
  --ecru: #C4AD6E;
  --old-rose: #C07972;
  --ash-gray: #fff8f099;
  --color-card: #404549;
  --font-color: #C6C5B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font-color);
}

body {
  background: var(--main-background-color);
  background-image:
    linear-gradient(var(--main-background-color) 2px, transparent 2px),
    linear-gradient(90deg, var(--main-background-color) 2px, transparent 2px),
    linear-gradient(135deg, var(--main-background-color), var(--color-card));
  background-size: 5px 5px, 5px 5px, 100% 100%;
  min-height: 97vh;
  max-width: 100vw;

}

#projet-title {
  text-align: center;
  font-size: 3em;
  margin-top: .3em;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -300px;
  backdrop-filter: blur(5px);
  transition: right 0.4s ease;
  box-shadow: #000000dc 0px 1px 3px 0px, #ffffffd7 0px 1px 1px 0px;

}

.is-shifted-left {
  right: 0;
  transition: right 0.4s ease;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="datetime-local"],
form select,
form textarea {
  background-color: rgba(50, 55, 60, 0.90);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc1e;
  border-radius: 3px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  background-color: var(--font-color);
  color: var(--main-background-color);
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #ffffffb9;
}

.show-button {
  position: relative;
  right: 50px;
  background-color: transparent;
  color: var(--font-color);
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  display: grid;
  transition: 0.3s ease;
}

/* Les Tâches */
.main-container {
  margin: 1.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.main-container h2,
.task-container h2 {
  margin: .5em 0 0 1.5em;
  font-weight: bold;
}

.task-container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  flex-basis: 200;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
  padding: .5em;
  gap: 1em;
}



.task-container h2 {
  grid-column: 1 / -1;
}

li {
  list-style-type: none;
  margin: .25em;
}

.task-card {
  height: fit-content;
  flex-grow: 1;
  flex-basis: 200;
  background-color: var(--color-card);
  margin: .5em;
  border-radius: var(--radius);
  max-width: fit-content;
  box-shadow: #000000dc 0px 1px 3px 0px, #ffffffd7 0px 1px 1px 0px;
}

.task-card-header-c {
  border-radius: var(--upper-radius);
  border-top: 6px solid var(--mint);
}

.task-card-header-b {
  border-radius: var(--upper-radius);
  border-top: 6px solid var(--ecru);
}

.task-card-header-a {
  border-radius: var(--upper-radius);
  border-top: 6px solid var(--old-rose);
}

.task-card-bottom,
.task-card-header-a,
.task-card-header-b,
.task-card-header-c {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card-header li,
.status,
.deadline,
.change-status,
.assignee,
.task-card-header-a li,
.task-card-header-b li,
.task-card-header-c li {
  background-color: rgba(255, 255, 255, 0.207);
  font-weight: bold;
  font-size: smaller;
  padding: .15em .3em;
  border-radius: 3px;
  flex-grow: 1;
  flex-basis: 200;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.description {
  min-height: 55px;
  background-color: rgba(0, 0, 0, 0.207);
  margin: 0.25em 0.7em 0.7em;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  padding: 0.35em;
  overflow-wrap: break-word;
  overflow-y: auto;
  white-space: initial;
}

/* DOWN */

.done-bottom {
  font-size: smaller;
  text-decoration: none;
  display: inline-block;
}

.done-bottom button {
  background-color: var(--mint);
  color: rgba(255, 255, 255, 0.839);
  font-weight: bold;
  padding: 5px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: smaller;
  transition: background-color 0.3s ease;
}

.done-bottom button:hover {
  background-color: #45a049;
}

.task-card-bottom {
  display: flex;
  border-radius: var(--bottom-radius);
}

.deadline {
  background-color: var(--old-rose);
  color: var(--main-background-color);
  flex-grow: 1;
  flex-basis: 200;

}

.assignee {
  background-color: var(--ecru);
  color: var(--main-background-color);

}

.projets-button {
  color: var(font-color);
  background-color: var(--color-card);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-weight: bold;
  padding: .15em .3em;
  margin: .5em;
  border-radius: 3px;
  cursor: pointer;
}

.change-status {
  background-color: var(--font-color);
  color: var(--main-background-color);
  cursor: pointer;
  transition: background-color 0.9s ease;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Message d'erreur */

#error-message {
  display: block;
  position: fixed;
  background-color: var(--old-rose);
  color: whitesmoke;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em 2em;
  justify-content: end;
  align-items: center;
  text-align: right;
  animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;

  }
}


/* Responsive */
@media (orientation: portrait) and (max-width: 680px) {

  * {
    font-size: 1.1em;
  }

  h2 {
    font-size: 2em;
  }

  .task-card-header li,
  .task-card-bottom li,
  .task-card-header-a li,
  .task-card-header-b li,
  .task-card-header-c li {
    font-size: 1em;
  }

  .task-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
  }

  .form-container {
    background-color: var(--main-background-color);
    padding: 1.5em;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    transform: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}