{{define "header"}}
	<header>
        {{range .statistics}}
            <span class="badge">{{.}} </span>
        {{end}}
        
         <div id="l-and-u">
            {{.navbar | safe}}   
            <a id="logout" href="/logout"></a>
        </div>
	</header>
  
{{end}}
