{{define "header"}}
	<header>
        {{range .statistics}}
            <span class="badge">{{.}} </span>
        {{end}}
        <div id="l-and-u">
            <div id="username"><a href="">{{.user}}</a></div>
            <a id="logout" href="/logout"></a>
        </div>
	</header>
{{end}}